<footer class="footer">
  <small>
    <%= link_to image_tag("instagram.png", class: :facebook_icon, alt: "Instagram"),
    "http://www.instagram.com", taget: :_blank %>
    <%= link_to image_tag("facebook.png", class: :facebook_icon, alt: "Facebook"),
    "http://www.facebook.com", taget: :_blank %>
    <%= link_to image_tag("youtube.png", class: :facebook_icon, alt: "Youtube"),
    "http://www.youtube.com", taget: :_blank %>
  </small>
  <nav>
    <ul>
      <li><%= Time.now %></li>
      <li><%= link_to t(".about"), about_path %></li>
      <li><%= link_to t(".contact"), contact_path %></li>
    </ul>
  </nav>
</footer>
